#menus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    #acordeonDiv {
        width: 65%;
        margin: 20px;
        @media (max-width: 991px) {
            width: 55%;
        }
        @media (max-width: 360px) {
            width: 100%;
        }
    }
    #avisoMenus {
        color: rgb(65, 65, 65);
        margin: 10px;
    }
    
    #acordeon {
        margin-top: 100px;
        width: 80%;
    }
    
    #menu {
        width: 100%;
        tr {
            text-align: left;
            height: 45px;
            th {
                width: 30%;
            }
        }
    }

    .ocultar {
        @media (max-width: 360px) {
            display: none;
        }
    }

    #barraLateral {
        width: 400px;
        margin-top: 15px;
        div {
            text-align: center;
            img {
                width: 80%;
                margin: 5px auto;
            }
        }
    }
}