<mat-accordion id="acordeon" *ngFor="let m of menus">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{m.nombre}}
            </mat-panel-title>
            <mat-panel-description>
                {{m.precio}}€
            </mat-panel-description>
        </mat-expansion-panel-header>
        <table id="menu">
            <tr>
                <th>Primer plato</th>
                <td>{{m.primerPlato}}</td>
            </tr>
            <tr>
                <th>Segundo plato</th>
                <td>{{m.segundoPlato}}</td>
        </table>
    </mat-expansion-panel>
</mat-accordion>