#avisoMenus {
    color: rgb(65, 65, 65);
    margin: 10px;
}

#acordeon {
    margin-top: 100px;
    width: 50%;
}

#menu {
    width: 100%;
    tr {
        text-align: left;
        height: 45px;
        th {
            width: 30%;
        }
    }
}