#contacto {
    width: 80%;
    height: 250px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    #telefono {
        border: 1px solid black;
        width: 30%;
        margin: 0 1.5%;
        text-align: center;
        padding-top: 9%;
        line-height: 50px;
        box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
        div {
            font-size: 22px;
            font-weight: bold;
        }
    }
    #email {
        border: 1px solid black;
        width: 30%;
        margin: 0 1.5%;
        text-align: center;
        padding-top: 9%;
        line-height: 50px;
        box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
        div {
            font-size: 22px;
            font-weight: bold;
        }
    }
    #direccion {
        border: 1px solid black;
        width: 30%;
        margin: 0 1.5%;
        text-align: center;
        padding-top: 9%;
        line-height: 50px;
        box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
        div {
            font-size: 22px;
            font-weight: bold;
        }
    }
}

#mapa {
    width: 100%;
    height: 250px;
    position: relative;
    bottom: -37px;
}