#calendario {
    width: 80%;
    height: 400px;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 40px auto;
    tr{
        border: 1px solid black;
        td {
            border: 1px solid black;
        }
    }
}