#reservas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    #forms {
        width: 40%;
        margin: auto;
        @media (max-width: 360px) {
            width: 70%;
            margin: 0 32px;
        }
        #formularioReserva, #formularioCancelarReserva {
            line-height: 40px;
            width: 100%;
            margin: 20px auto;
            border: 1px solid black;
            border-radius: 20px;
            padding: 20px;
            h1 {
                font-size: 20px;
                text-align: center;
            }
            #btnReserva {
                text-align: center;
            }
        }
    }
    
    #calendario {
        width: 40%;
        height: 400px;
        border-collapse: collapse;
        border: 1px solid black;
        margin: 40px;
        @media (max-width: 360px) {
            width: 79%;
            height: 270px;
        }
        tr{
            border: 1px solid black;
            td {
                border: 1px solid black;
            }
        }
    }
}
