<div id="navigationBar">
    <div><a routerLink='/index' routerLinkActive='active'>Página principal</a></div>
    <div><a routerLink='/carta' routerLinkActive='active'>Carta</a></div>
    <div><a routerLink='/menus' routerLinkActive='active'>Menús</a></div>
    <div><a routerLink='/sobreNosotros' routerLinkActive='active'>Sobre nosotros</a></div>
    <div><a routerLink='/reservas' routerLinkActive='active'>Reservas</a></div>
</div>
<router-outlet></router-outlet>
<div id="footer">
    <div>
        <div class="titulo">Sobre nosotros</div>
    </div>
    <div>
        <div class="titulo">Reserva</div>
    </div>
    <div>
        <div class="titulo">Contáctanos</div>
        <div>braispga@gmail.com</div>
        <div>981 451 442</div>
    </div>
</div>