#navigationBar {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1976d2;
    height: 50px;
    align-content: center;

    div {
        justify-content: center;

        a{
            color: white;
            text-decoration: none;
            margin: auto;
            padding: 20px;
            width: 100%;

            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.2);
            }
        }
    }
}

#footer {
    position: absolute;
    bottom: -110px;
    background-color: #292C2F;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div{
        line-height: 40px;
        div {
            color: rgb(152, 152, 160);
        }
        .titulo {
            margin-top: 10px;
            font-size: 16px;
            color: white;
        }
    }
}