#navigationBar {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1976d2;
    height: 50px;
    align-content: center;

    mat-sidenav {
        li {
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
            padding: 0 16px;
            position: relative;
            line-height: 45px;
        }
    }

    mat-toolbar-row {
        margin-top: 50px;
    }

    div {
        justify-content: center;

        a{
            color: white;
            text-decoration: none;
            margin: auto;
            padding: 20px;
            width: 100%;

            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.2);
            }
        }
    }
}

#footer {
    position: absolute;
    bottom: -220px;
    background-color: #292C2F;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media (max-width: 991px) {
        bottom: -380px;
    }
    @media (max-width: 360px) {
        bottom: -150px;
    }
    .ocultar {
        @media (max-width: 360px) {
            display: none;
        }
    }
    div{
        line-height: 40px;
        div, a {
            color: rgb(152, 152, 160);
            text-decoration: none;
        }
        .titulo {
            margin-top: 10px;
            font-size: 16px;
            color: white;
        }
    }
}