<div id="carta">
    <div id="entrantes">
        <fieldset>
            <legend>Entrantes</legend>
            <table>
                <tr>
                    <td>Empanada gallega</td>
                    <td class="precio">8.50€</td>
                </tr>
                <tr>
                    <td>Croquetas de jamón</td>
                    <td class="precio">8.00€</td>
                </tr>
                <tr>
                    <td>Salpicón de la casa</td>
                    <td class="precio">14.00€</td>
                </tr>
                <tr>
                    <td>Pulpo a feira con cachelos</td>
                    <td class="precio">16.00€</td>
                </tr>
                <tr>
                    <td>Cazuela de gambas y berberechos al ajillo</td>
                    <td class="precio">17.50€</td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div id="Ensaladas">
        <fieldset>
            <legend>
                Ensaladas
            </legend>
            <table>
                <tr>
                    <td>Ensalada del huerto</td>
                    <td class="precio">4.50€</td>
                </tr>
                <tr>
                    <td>Ensalada mixta</td>
                    <td class="precio">8.50€</td>
                </tr>
                <tr>
                    <td>Ensalada tamplada de vieiras</td>
                    <td class="precio">16.50€</td>
                </tr>
                <tr>
                    <td>Tomates a la brasa</td>
                    <td class="precio">4.50€</td>
                </tr>
                <tr>
                    <td>Pimientos fritos de Padrón</td>
                    <td class="precio">5.50€</td>
                </tr>
                <tr>
                    <td>Verduras de temporada a la brasa</td>
                    <td class="precio">12.50€</td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div id="pescados">
        <fieldset>
            <legend>
                Pescados
            </legend>
            <table>
                <tr>
                    <td>Bacalao a la brasa</td>
                    <td class="precio">17.00€</td>
                </tr>
                <tr>
                    <td>Merluza a la gallega</td>
                    <td class="precio">17.00€</td>
                </tr>
                <tr>
                    <td>Rape en salsa marinera</td>
                    <td class="precio">21.00€</td>
                </tr>
                <tr>
                    <td>Rodaballo a la plancha</td>
                    <td class="precio">20.00€</td>
                </tr>
                <tr>
                    <td>Parrillada de pescados y mariscos</td>
                    <td class="precio">45.00€</td>
                </tr>
                <tr>
                    <td>Caldeirada de pescados y mariscos</td>
                    <td class="precio">48.00€</td>
                </tr>
                <tr>
                    <td>Lomo de merluza con almejas y espárragos</td>
                    <td class="precio">19.00€</td>
                </tr>
                <tr>
                    <td>Brochetas de rape, vieira y langostino</td>
                    <td class="precio">18.00€</td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div id="carnes">
        <fieldset>
            <legend>Carnes</legend>
            <table>
                <tr>
                    <td>Churrasco de ternera</td>
                    <td class="precio">15.00€</td>
                </tr>
                <tr>
                    <td>Entrecot de ternera</td>
                    <td class="precio">19.00€</td>
                </tr>
                <tr>
                    <td>Solomillo de terneta</td>
                    <td class="precio">24.00€</td>
                </tr>
                <tr>
                    <td>Churrasco de cerdo</td>
                    <td class="precio">12.00€</td>
                </tr>
                <tr>
                    <td>Secreto de cerdo</td>
                    <td class="precio">14.50€</td>
                </tr>
                <tr>
                    <td>Solomillo de cerdo</td>
                    <td class="precio">18.50€</td>
                </tr>
                <tr>
                    <td>Chorizo criollo</td>
                    <td class="precio">3.00€</td>
                </tr>
                <tr>
                    <td>Chorizo rojo</td>
                    <td class="precio">2.50€</td>
                </tr>
                <tr>
                    <td>Raxo de cerdo con salsa de quesos</td>
                    <td class="precio">12.50€</td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div id="postres">
        <fieldset>
            <legend>Postres</legend>
            <table>
                <tr>
                    <td>Flan de huevo</td>
                    <td class="precio">3.25€</td>
                </tr>
                <tr>
                    <td>Tarta de queso</td>
                    <td class="precio">4.00€</td>
                </tr>
                <tr>
                    <td>Coulant de chocolate con helado</td>
                    <td class="precio">4.50€</td>
                </tr>
                <tr>
                    <td>Milhojas de filloas con crema y nata</td>
                    <td class="precio">4.50€</td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
