<div id="paginaPrincipal">
    <div id="contentPrincipal">
        <div id="horario">
            <h1>Nuestros horarios</h1>
            <fieldset>
                <legend>Cafetería</legend>
                <div>Lunes a Viernes: de 8:00 a 22:00</div>
                <div>Sábados: de 8:30 a 23:00</div>
                <div>Cerramos los Domingos</div>
            </fieldset>
            <fieldset>
                <legend>Cocinas</legend>
                <div>Lunes a Sábado: de 13:00 a 16:00</div>
                <div>Cerramos los Domingos</div>
            </fieldset>
        </div>
    </div>
    <div id="barraLateral" class="ocultar">
        <div><img src="assets/img/comida1.jpg"></div>
        <div><img src="assets/img/comida2.jpg"></div>
        <div><img src="assets/img/comida3.jpg"></div>
    </div>
</div>
