#paginaPrincipal {
    display: flex;
    flex-direction: row;
    #contentPrincipal {
        width: 70%;
        @media (max-width: 360px) {
            width: 100%;
        }
        #horario {
            width: 90%;
            margin: 20px auto;
            border: 1px solid black;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
            h1 {
                width: 100%;
                text-align: center;
                font-size: 20px;
            }
            fieldset {
                margin: 20px;
                padding: 10px;
                border-radius: 20px;
            }
        }
    }

    .ocultar {
        @media (max-width: 360px) {
            display: none;
        }
    }
    
    #barraLateral {
        width: 400px;
        margin-top: 15px;
        div {
            text-align: center;
            img {
                width: 80%;
                margin: 5px auto;
                border-collapse: collapse;
            }
        }
    }
}

